In [1]:
import pandas as pd

In [2]:
df_mapping = pd.read_csv("/SGRNJ06/randd/PROJECT/scATAC/self_pipe/mouse/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/02.atac/Result/Mapping/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/fragments_corrected_count_sortedbybarcode.tsv",
                                      header=None, sep='\t', names=["chrom", "chromStart", "chromEnd", "barcode", "count"])

In [3]:
def read_one_col(file):
    """
    Read file with one column. Strip each line.
    Returns col_list, line number
    """
    df = pd.read_csv(file, header=None)
    col1 = list(df.iloc[:, 0])
    col1 = [item.strip() for item in col1]
    num = len(col1)
    return col1, num

In [4]:
cell_barcode = read_one_col("/SGRNJ06/randd/PROJECT/scATAC/self_pipe/mouse/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/02.atac/Result/Analysis/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/meta.csv")[0]

In [5]:
df_mapping_barcode = df_mapping[df_mapping['barcode'].isin(cell_barcode)]

In [6]:
df_mapping

          chrom  chromStart   chromEnd               barcode  count
0         chr10    93889304   93889348  AACAATAACGTCTCAACAAT      1
1          chr1   157412731  157412763  AACAATAACGTCTCAACAAT      1
2         chr12    16800546   16800591  AACAATAACGTCTCAACAAT      4
3         chr12    49955391   49955508  AACAATAACGTCTCAACAAT      3
4         chr13    30749252   30749509  AACAATAACGTCTCAACAAT      1
...         ...         ...        ...                   ...    ...
79649906   chr6   127781854  127782470  TTTTTGTTGTCCGATTTGAC      4
79649907   chr9    53260864   53260921  TTTTTGTTGTCCGATTTGAC      1
79649908   chr9    54498938   54498983  TTTTTGTTGTCCGATTTGAC      2
79649909   chr9    57638084   57638838  TTTTTGTTGTCCGATTTGAC      1
79649910   chr6    72789108   72789166  TTTTTGTTGTCCGATTTTTG      1

[79649911 rows x 5 columns]

In [7]:
df_mapping_barcode

          chrom  chromStart   chromEnd               barcode  count
1542      chr10   100014861  100015031  AACAATAACGTCTCCAAGGA      1
1543      chr10   100111384  100111418  AACAATAACGTCTCCAAGGA      2
1544      chr10   100115322  100115895  AACAATAACGTCTCCAAGGA      1
1545      chr10   100128635  100128671  AACAATAACGTCTCCAAGGA      2
1546      chr10   101783904  101783946  AACAATAACGTCTCCAAGGA      4
...         ...         ...        ...                   ...    ...
79643958   chrX    85776841   85776898  TTTTTGTTCTAGGCACATGA      1
79643959   chrX    93392389   93392599  TTTTTGTTCTAGGCACATGA      1
79643960   chrX    93519993   93520044  TTTTTGTTCTAGGCACATGA      2
79643961   chrX    94066768   94066963  TTTTTGTTCTAGGCACATGA      1
79643962   chrX    95444845   95444894  TTTTTGTTCTAGGCACATGA      3

[45204623 rows x 5 columns]

In [ ]:
df_mapping_barcode.drop_duplicates(['chrom', 'chromStart', 'chromEnd'])

In [ ]:
df_mapping.drop_duplicates(['chrom', 'chromStart', 'chromEnd'])

In [40]:
df_mapping_barcode

          chrom  chromStart   chromEnd               barcode  count
1542      chr10   100014861  100015031  AACAATAACGTCTCCAAGGA      1
1543      chr10   100111384  100111418  AACAATAACGTCTCCAAGGA      2
1544      chr10   100115322  100115895  AACAATAACGTCTCCAAGGA      1
1545      chr10   100128635  100128671  AACAATAACGTCTCCAAGGA      2
1546      chr10   101783904  101783946  AACAATAACGTCTCCAAGGA      4
...         ...         ...        ...                   ...    ...
79643958   chrX    85776841   85776898  TTTTTGTTCTAGGCACATGA      1
79643959   chrX    93392389   93392599  TTTTTGTTCTAGGCACATGA      1
79643960   chrX    93519993   93520044  TTTTTGTTCTAGGCACATGA      2
79643961   chrX    94066768   94066963  TTTTTGTTCTAGGCACATGA      1
79643962   chrX    95444845   95444894  TTTTTGTTCTAGGCACATGA      3

[45204623 rows x 5 columns]

In [39]:
df_mapping_barcode[df_mapping_barcode['count']>1]

          chrom  chromStart   chromEnd               barcode  count
1543      chr10   100111384  100111418  AACAATAACGTCTCCAAGGA      2
1545      chr10   100128635  100128671  AACAATAACGTCTCCAAGGA      2
1546      chr10   101783904  101783946  AACAATAACGTCTCCAAGGA      4
1548      chr10   102636888  102636921  AACAATAACGTCTCCAAGGA      2
1550      chr10   103369153  103369261  AACAATAACGTCTCCAAGGA      6
...         ...         ...        ...                   ...    ...
79643954   chrX    74332900   74332951  TTTTTGTTCTAGGCACATGA      2
79643955   chrX     7648744    7648847  TTTTTGTTCTAGGCACATGA      2
79643956   chrX     8098711    8098931  TTTTTGTTCTAGGCACATGA      2
79643960   chrX    93519993   93520044  TTTTTGTTCTAGGCACATGA      2
79643962   chrX    95444845   95444894  TTTTTGTTCTAGGCACATGA      3

[29522682 rows x 5 columns]

In [8]:
df_mapping["size"] = df_mapping["chromEnd"] - df_mapping["chromStart"]

In [9]:
df_mapping

          chrom  chromStart   chromEnd               barcode  count  size
0         chr10    93889304   93889348  AACAATAACGTCTCAACAAT      1    44
1          chr1   157412731  157412763  AACAATAACGTCTCAACAAT      1    32
2         chr12    16800546   16800591  AACAATAACGTCTCAACAAT      4    45
3         chr12    49955391   49955508  AACAATAACGTCTCAACAAT      3   117
4         chr13    30749252   30749509  AACAATAACGTCTCAACAAT      1   257
...         ...         ...        ...                   ...    ...   ...
79649906   chr6   127781854  127782470  TTTTTGTTGTCCGATTTGAC      4   616
79649907   chr9    53260864   53260921  TTTTTGTTGTCCGATTTGAC      1    57
79649908   chr9    54498938   54498983  TTTTTGTTGTCCGATTTGAC      2    45
79649909   chr9    57638084   57638838  TTTTTGTTGTCCGATTTGAC      1   754
79649910   chr6    72789108   72789166  TTTTTGTTGTCCGATTTTTG      1    58

[79649911 rows x 6 columns]

In [ ]:
sum(df_mapping['count']) / 236062144

In [ ]:
value = sum(df_mapping[df_mapping['size']<=124]['count']),
total = sum(df_mapping['count']),

In [16]:
df_mapping[df_mapping['size']<=124].shape[0] / df_mapping.shape[0]

0.5180386705014648

In [11]:
df_mapping[ (df_mapping['size']>124) & (df_mapping['size']<=296) ].shape[0] / df_mapping.shape[0]

0.2698202010545875

In [41]:
df = pd.read_csv("/SGRNJ06/randd/PROJECT/scATAC/20231006_ME_sc/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/03.atac/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/outs/singlecell.csv")

In [42]:
df

,barcode,total,duplicate,chimeric,unmapped,lowmapq,mitochondrial,nonprimary,passed_filters,is__cell_barcode,excluded_reason,TSS_fragments,DNase_sensitive_region_fragments,enhancer_region_fragments,promoter_region_fragments,on_target_fragments,blacklist_region_fragments,peak_region_fragments,peak_region_cutsites
0,NO_BARCODE,569865,228186,387,15889,33980,4799,70,286554,0,0,0,0,0,0,0,0,0,0
1,AAACGAAAGAAACGCC-1,652,303,1,8,30,2,0,308,0,3,142,0,0,0,142,0,177,335
2,AAACGAAAGAAAGCAG-1,646,370,0,8,32,7,0,229,0,0,108,0,0,0,108,0,132,239
3,AAACGAAAGAAAGGGT-1,633,372,0,3,21,7,0,230,0,3,91,0,0,0,91,0,111,204
4,AAACGAAAGAAATACC-1,632,365,0,7,32,1,0,227,0,0,93,0,0,0,93,0,151,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737276,TTTGTGTTCTTGTCGC-1,22,13,0,0,0,0,0,9,0,0,2,0,0,0,2,0,5,9
737277,TTTGTGTTCTTGTGCC-1,22,8,0,0,0,1,0,13,0,0,1,0,0,0,1,0,6,12
737278,TTTGTGTTCTTTATCG-1,23,12,0,0,0,0,0,11,0,0,3,0,0,0,3,0,6,12
737279,TTTGTGTTCTTTCGAT-1,23,16,0,0,0,0,0,7,0,0,3,0,0,0,3,0,5,9
737280,TTTGTGTTCTTTGCAT-1,22,12,0,1,1,0,0,8,0,0,1,0,0,0,1,0,4,6

In [ ]:
def atac(args):
    with ATAC(args) as runner:
        runner.run()
    
    with Maestro_metrics(args) as runner:
        runner.run()
    
    with Mapping(args) as runner:
        runner.run()
        
    with Cells(args) as runner:
        runner.run()

In [ ]:
class Maestro_metrics(Step):
    def __init__(self, args, display_title=None):
        super().__init__(args, display_title=display_title)

        self.df_mapping = pd.read_csv(f"{self.outdir}/Result/Mapping/{self.sample}/fragments_corrected_count_sortedbybarcode.tsv",
                                      header=None, sep='\t', names=["chrom", "chromStart", "chromEnd", "barcode", "count"])
        self.df_barcode = pd.read_csv(f"{self.outdir}/Result/QC/{self.sample}/singlecell.txt",
                                      header=None, sep='\t', names=["barcode", "fragments", "fragments_overlapping_promoter"])
        self.df_fragments = pd.read_csv(f"{self.outdir}/Result/Mapping/{self.sample}/fragments_corrected_count_sortedbybarcode.tsv",
                                      header=None, sep='\t', names=["chr", "start", "end", "barcode", "count"])
        self.df_peaks = pd.read_csv(f"{self.outdir}/Result/Analysis/{self.sample}/{self.sample}_final_peaks.bed",
                                    header=None, sep='\t', names=["chr", "start", "end"])
        self.sce_rds = f"{self.outdir}/Result/Analysis/{self.sample}/{self.sample}_scATAC_Object.rds"
        
        self.df_cell_metrics = f"{self.outdir}/Result/Analysis/{self.sample}/cell_qc_metrics.tsv"
        self.meta_data = f"{self.outdir}/Result/Analysis/{self.sample}/meta.csv"
    
    @utils.add_log
    def gen_plot_data(self):
        """generate meta-data file with umap coord for plot.
        """
        cmd = (
            f"Rscript {ROOT_PATH}/atac/gen_plot_data.R "
            f"--sce_rds {self.sce_rds} "
            f"--meta_data {self.meta_data} "
        )
        subprocess.check_call(cmd, shell=True)   
    def run(self):
        self.gen_plot_data()
        self.cell_barcode = utils.read_one_col(self.meta_data)[0]
        del self.cell_barcode[0]

In [ ]:
class Mapping(Maestro_metrics):
    def __init__(self, args, display_title=None):
        super().__init__(args, display_title=display_title)
        
        self.df_mapping_cell = self.df_mapping[self.df_mapping["barcode"].isin(self.cell_barcode)]
    
    def run(self):

        valid_reads = self.get_slot_key(
            slot='metrics',
            step_name='barcode',
            key='Valid Reads',
        )
        
        self.df_mapping["size"] = self.df_mapping["chromEnd"] - self.df_mapping["chromStart"]
        
        self.add_metric(
            name = 'Confidently Unique mapped read pairs',
            value = sum(self.df_mapping['count']),
            total = valid_reads,
            help_info = 'Fraction of Unique mapped read pairs'
        )

        self.add_metric(
            name = 'Fragments in nucleosome-free regions',
            value = self.df_mapping[self.df_mapping['size']<=124].shape[0],
            total = self.df_mapping['count'].shape[0],
            help_info = 'Fraction of high-quality fragments smaller than 124 basepairs.'
        )

        self.add_metric(
            name = 'Fragments flanking a single nucleosome',
            value = self.df_mapping[ (self.df_mapping['size']>124) & (self.df_mapping['size']<=296)].shape[0],
            total = self.df_mapping['count'].shape[0],
            help_info = 'Fraction of high-quality fragments between 124 and 296 basepairs.'
        )

        self.add_metric(
            name = 'Percent duplicates',
            value = self.df_mapping_barcode[self.df_mapping_barcode['count']>1].shape[0],
            total = self.df_mapping_barcode.shape[0],
            help_info = 'Fraction of high-quality read pairs that are deemed to be PCR duplicates. A high-quality read-pair is one with mapping quality > 30, that is not chimeric and maps to nuclear contigs. This metric is a measure of sequencing saturation and is a function of library complexity and sequencing depth. More specifically, this is the fraction of high-quality fragments with a valid barcode that align to the same genomic position as another read pair in the library.'
        )
        
        self.df_mapping = self.df_mapping[self.df_mapping['size'] < 800]
        Insertplot = Insert_plot(df=self.df_mapping).get_plotly_div()
        self.add_data(Insert_plot=Insertplot)

In [ ]:
class Cells(Maestro_metrics):
    def __init__(self, args, display_title=None):
        super().__init__(args, display_title=display_title)


    @staticmethod
    @utils.add_log
    def get_chunk_df(df_peak, df_fragments):
        index_res = set()
        for ch in set(df_peak.chr):
            df_peak_chr = df_peak[df_peak['chr'] == ch]
            df_fragment_chr = df_fragments[df_fragments['chr']== ch]
            for _, data_peak in df_peak_chr.iterrows():
                frag_overlap_peak = df_fragment_chr[ (df_fragment_chr["start"] >= data_peak["start"]) & (df_fragment_chr["end"] <= data_peak["end"])]
                index_res.update(set(frag_overlap_peak.index))
        return index_res
    
    @utils.add_log
    def count_overlap_peak(self):
        """count fragments overlapping peaks
        """
        self.df_fragments.sort_values(['chr','start','end'], inplace=True)
        self.df_peaks.sort_values(['chr','start','end'], inplace=True)
        
        peaks_count = self.df_peaks.shape[0]
        chunk_size = peaks_count // self.thread + 1
        df_peak_list = [self.df_peaks.iloc[ chunk_size*i: chunk_size*(i+1), :] for i in range(self.thread)]
        df_fragment_list = [self.df_fragments[self.df_fragments['chr'].isin(set(df_peak.chr))] for df_peak in df_peak_list]
        
        with Pool(self.thread) as p:
            results = p.starmap(Cells.get_chunk_df, zip(df_peak_list, df_fragment_list))
        
        final_index = set(itertools.chain.from_iterable(results))
        final_df = self.df_fragments[self.df_fragments.index.isin(final_index)]
        
        final_df_count = final_df.groupby('barcode', as_index=False).agg({'count': 'sum'})
        self.df_barcode = pd.merge(self.df_barcode, final_df_count, on='barcode', how='outer').fillna(0)
        self.df_barcode = self.df_barcode.rename(columns={'count': 'overlap_peaks'})
        self.df_barcode['frac_peak'] = round(self.df_barcode['overlap_peaks'] / self.df_barcode['fragments'], 4)
        self.df_barcode['cell_called'] = self.df_barcode['barcode'].apply(lambda x: True if x in self.cell_barcode else False)
        self.df_barcode.to_csv(self.df_cell_metrics, sep='\t', index=False)
            
    def run(self):
        self.gen_plot_data()
        self.count_overlap_peak()
        
        self.df_cell_barcode = self.df_barcode[self.df_barcode["barcode"].isin(self.cell_barcode)]
        cell_num = len(self.cell_barcode)
        self.add_metric(
            name = 'Estimated Number of Cells',
            value = len(self.cell_barcode),
            help_info = 'The total number of barcodes identified as cells.'           
        )

        raw_reads = self.get_slot_key(
            slot='metrics',
            step_name='barcode',
            key='Raw Reads',
        )
        self.add_metric(
            name = 'Mean raw read pairs per cell',
            value = int(raw_reads / cell_num),
            help_info = 'Total number of read pairs divided by the number of cell barcodes.'           
        )

        total_fragments = sum(self.df_barcode.fragments)
        cell_fragments = sum(self.df_cell_barcode.fragments)
        self.add_metric(
            name = 'Fraction of high-quality fragments in cells',
            value = f'{round(cell_fragments / total_fragments * 100, 2)}%',
            help_info = 'Fraction of high-quality fragments with a valid barcode that are associated with cell-containing partitions.'           
        )

        frac_peak = self.df_barcode[self.df_barcode['cell_called']==True]['frac_peak'].mean()
        self.add_metric(
            name = 'Fraction of Fragments Overlap with Peaks in Cells',
            value = f'{round(frac_peak * 100, 2)}%',
            help_info = 'The proportion of fragments in a cell to overlap with a peak.'           
        )
        
        total_promoter = sum(self.df_barcode.fragments_overlapping_promoter)
        cell_promoter = sum(self.df_cell_barcode.fragments_overlapping_promoter)
        self.add_metric(
            name = 'Fraction of fragments overlap with promoter in cells',
            value = f'{round(cell_promoter / total_promoter * 100, 2)}%',
            help_info = 'The proportion of fragments in a cell to overlap with a promoter sequence.'           
        )

        self.add_metric(
            name = 'Median high-quality fragments per cell',
            value = int(np.median(self.df_cell_barcode.fragments)),
            help_info = 'The median number of high-quality fragments per cell barcode'           
        )
        
        self.df_barcode.sort_values(by='overlap_peaks', ascending=False, inplace=True)
        self.add_data(chart=get_plot_elements.plot_barcode_rank(self.df_barcode, log_uniform=False))