In [30]:
import pandas as pd 
import sys
import numpy as np 
from multiprocessing import Pool
import pandas as pd 
import itertools

In [2]:
df_peaks=pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/atac/MAESTRO/test/20231031sgr/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/02.atac/Result/Analysis/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/A1017_3_ML_YSPB_WX_R_T7_EDTA5030_final_peaks.bed",header=None, sep='\t', names=["chr", "start", "end"])
df_fragments = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/atac/MAESTRO/test/20231031sgr/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/02.atac/Result/Mapping/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/fragments_corrected_count_sortedbybarcode.tsv",header=None, sep='\t', names=["chr", "start", "end", "barcode", "count"])

In [ ]:
print(str(sys.getsizeof(df_fragments)/1024/1024)+' MB')

In [ ]:
df = df_fragments

In [ ]:
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    # 计算当前占用的内存 
    start_mem = df.memory_usage(deep=True).sum() / 1024**2
    # 循环每一列
    for col in df.columns:
        # 获取每一列的数据类型
        col_type = df[col].dtypes
        # 如果数据类型属于上面定义的类型之
        if col_type in numerics:
            # 计算该列数据的最小值和最大值 用于我们指定相应的数据类型 
            c_min = df[col].min()
            c_max = df[col].max()

            # 如果 该列的数据类型属于 int 类型，然后进行判断
            if str(col_type)[:3] == 'int':
                # 如果 该列最小的值 大于int8类型的最小值，并且最大值小于int8类型的最大值，则采用int8类型 
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)

                # 同上
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)

                # 同上
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)

                # 同上
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)

            # 否则 则采用 float 的处理方法       
            else:

                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)

                else:
                    df[col] = df[col].astype(np.float64)

In [ ]:
print(str(sys.getsizeof(df)/1024/1024)+' MB')

In [ ]:
print(str(sys.getsizeof(df_fragments)/1024/1024)+' MB')

In [ ]:
gl_obj = df.copy()

In [ ]:
print(str(sys.getsizeof(gl_obj)/1024/1024)+' MB')

In [ ]:
converted_obj = pd.DataFrame()
for col in gl_obj.columns:
    num_unique_values = len(gl_obj[col].unique())
    num_total_values = len(gl_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = gl_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = gl_obj[col]

In [ ]:
print(str(sys.getsizeof(converted_obj)/1024/1024)+' MB')

In [ ]:
converted_obj.sort_values('end')

In [ ]:
# test

In [31]:
df_peaks=pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/atac/MAESTRO/test/20231031sgr/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/02.atac/Result/Analysis/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/A1017_3_ML_YSPB_WX_R_T7_EDTA5030_final_peaks.bed",header=None, sep='\t', names=["chr", "start", "end"])
df_fragments = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/atac/MAESTRO/test/20231031sgr/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/02.atac/Result/Mapping/A1017_3_ML_YSPB_WX_R_T7_EDTA5030/fragments_corrected_count_sortedbybarcode.tsv",header=None, sep='\t', names=["chr", "start", "end", "barcode", "count"])

In [ ]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    # 计算当前占用的内存 
    start_mem = df.memory_usage(deep=True).sum() / 1024**2
    # 循环每一列
    for col in df.columns:
        # 获取每一列的数据类型
        col_type = df[col].dtypes
        # 如果数据类型属于上面定义的类型之
        if col_type in numerics:
            # 计算该列数据的最小值和最大值 用于我们指定相应的数据类型 
            c_min = df[col].min()
            c_max = df[col].max()

            # 如果 该列的数据类型属于 int 类型，然后进行判断
            if str(col_type)[:3] == 'int':
                # 如果 该列最小的值 大于int8类型的最小值，并且最大值小于int8类型的最大值，则采用int8类型 
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)

                # 同上
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)

                # 同上
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)

                # 同上
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)

            # 否则 则采用 float 的处理方法       
            else:

                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)

                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage(deep=True).sum() / 1024**2

    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
df_peaks1 = reduce_mem_usage(df_peaks, verbose=True)
df_fragments1 = reduce_mem_usage(df_fragments, verbose=True)

In [ ]:
converted_peaks = pd.DataFrame()
for col in df_peaks.columns:
    num_unique_values = len(df_peaks[col].unique())
    num_total_values = len(df_peaks[col])
    if num_unique_values / num_total_values < 0.5:
        converted_peaks.loc[:,col] = df_peaks[col].astype('category')
    else:
        converted_peaks.loc[:,col] = df_peaks[col]
        
converted_fragments = pd.DataFrame()
for col in df_fragments.columns:
    num_unique_values = len(df_fragments[col].unique())
    num_total_values = len(df_fragments[col])
    if num_unique_values / num_total_values < 0.5:
        converted_fragments.loc[:,col] = df_fragments[col].astype('category')
    else:
        converted_fragments.loc[:,col] = df_fragments[col]

In [32]:
df_peaks = df_peaks.sort_values(['chr','start','end'])
df_fragments = df_fragments.sort_values(['chr','start','end'])

In [ ]:
df_peaks1 = df_peaks1.sort_values(['chr','start','end'])
df_fragments1 = df_fragments1.sort_values(['chr','start','end'])

In [ ]:
converted_peaks = converted_peaks.sort_values(['chr','start','end'])
converted_fragments = converted_fragments.sort_values(['chr','start','end'])

In [ ]:
print(str(sys.getsizeof(df_fragments)/1024/1024)+' MB')

In [ ]:
print(str(sys.getsizeof(df_fragments1)/1024/1024)+' MB')

In [ ]:
print(str(sys.getsizeof(converted_fragments)/1024/1024)+' MB')

In [ ]:
print(str(sys.getsizeof(df_peaks)/1024/1024)+' MB')

In [ ]:
print(str(sys.getsizeof(df_peaks1)/1024/1024)+' MB')

In [ ]:
print(str(sys.getsizeof(converted_peaks)/1024/1024)+' MB')

In [ ]:
threads = 8
#chunk_size
chunk_size = 100
df_peak_list = [df_peaks.iloc[ chunk_size*i: chunk_size*(i+1) ,:] for i in range(threads)]

In [ ]:
# multiprocessing
def get_df(df_peak):
    index_res = set()
    for _, data_peak in df_peak.iterrows():
        peak_info = dict(data_peak)
        frag_chr = df_fragments[df_fragments["chr"] == peak_info["chr"]]
        frag_overlap_peak = frag_chr[ (frag_chr["start"] >= peak_info["start"]) & (frag_chr["end"] <= peak_info["end"])] 
        index_res.update(set(frag_overlap_peak.index))
    return index_res

In [ ]:
with Pool(threads) as p:
    results = p.starmap(get_df, zip(df_peak_list))

In [ ]:
sum_data = set(itertools.chain.from_iterable(results))
sum_data
final_df = df_fragments[df_fragments.index.isin(sum_data)]

In [ ]:
final_df

In [ ]:
final_df.info(memory_usage='deep')

In [ ]:
df_peak_list = [df_peaks1.iloc[ chunk_size*i: chunk_size*(i+1) ,:] for i in range(threads)]

In [ ]:
# multiprocessing
def get_df(df_peak):
    index_res = set()
    for _, data_peak in df_peak.iterrows():
        peak_info = dict(data_peak)
        frag_chr = df_fragments1[df_fragments1["chr"] == peak_info["chr"]]
        frag_overlap_peak = frag_chr[ (frag_chr["start"] >= peak_info["start"]) & (frag_chr["end"] <= peak_info["end"])] 
        index_res.update(set(frag_overlap_peak.index))
    return index_res

In [ ]:
with Pool(threads) as p:
    results = p.starmap(get_df, zip(df_peak_list))

In [ ]:
sum_data = set(itertools.chain.from_iterable(results))
sum_data
final_df1 = df_fragments1[df_fragments1.index.isin(sum_data)]

In [ ]:
final_df1

In [ ]:
final_df1.info(memory_usage='deep')

In [ ]:
df_peak_list = [converted_peaks.iloc[ chunk_size*i: chunk_size*(i+1) ,:] for i in range(threads)]

In [ ]:
# multiprocessing
def get_df(df_peak):
    index_res = set()
    for _, data_peak in df_peak.iterrows():
        peak_info = dict(data_peak)
        frag_chr = converted_fragments[converted_fragments["chr"] == peak_info["chr"]]
        frag_overlap_peak = frag_chr[ (frag_chr["start"] >= peak_info["start"]) & (frag_chr["end"] <= peak_info["end"])] 
        index_res.update(set(frag_overlap_peak.index))
    return index_res

In [ ]:
with Pool(threads) as p:
    results = p.starmap(get_df, zip(df_peak_list))

In [ ]:
sum_data = set(itertools.chain.from_iterable(results))
sum_data
final_df2 = converted_fragments[converted_fragments.index.isin(sum_data)]

In [ ]:
final_df2

In [ ]:
final_df2.info(memory_usage='deep')

In [19]:
df_peaks

        chr     start       end
0      chr1   4768517   4768778
1      chr1   4785335   4786194
2      chr1   4807373   4808300
3      chr1   4857419   4858586
4      chr1   5082842   5083595
...     ...       ...       ...
51862  chrY  90761198  90761746
51863  chrY  90798987  90799576
51864  chrY  90800522  90800811
51865  chrY  90805049  90805601
51866  chrY  90807656  90808917

[51867 rows x 3 columns]

In [272]:
df_fragments[df_fragments['']]

           chr     start       end               barcode  count
165035    chr1   3003786   3003903  AACAATTGGCTTCTTTTGAC      1
1633690   chr1   3003975   3004005  ACCCTTCAGGATCATGACCC      1
10348822  chr1   3004652   3004699  GAAAAGTGTGCGTACCCGCC      1
2386893   chr1   3004791   3004834  ACTGGTTGCATCCTAGCCCA      2
15793733  chr1   3005277   3005613  TCAACTTAGTGAGCACGTCC      3
...        ...       ...       ...                   ...    ...
9833889   chrY  90828968  90829015  CTTCAGGCGATGTTTCATTC      1
3749131   chrY  90828971  90829014  AGTCTGTTCTAGGCCAGTAC      3
502508    chrY  90828984  90829202  AAGTGTACGTTGCAAGGGTC      2
15917205  chrY  90829080  90829202  TCATTCATGGTGGAACACAC      1
17509055  chrY  90829176  90829544  TGCGGGGATCGCATCGAGAC      1

[19469896 rows x 5 columns]

In [ ]:
len(set(df_fragments.end))

In [ ]:
threads = 4
#chunk_size
chunk_size = 100
df_peak_list = [df_peaks.iloc[ chunk_size*i: chunk_size*(i+1) ,:] for i in range(threads)]

In [ ]:
# multiprocessing
def get_df(df_peak, df_fragments_copy):
    index_res = set()
    df_fragments_copy = df_fragments_copy[df_fragments_copy['chr'].isin(set(df_peaks['chr']))]
    for _, data_peak in df_peak.iterrows():
        peak_info = dict(data_peak)
        frag_chr = df_fragments_copy[df_fragments_copy["chr"] == peak_info["chr"]]
        frag_overlap_peak = frag_chr[ (frag_chr["start"] >= peak_info["start"]) & (frag_chr["end"] <= peak_info["end"])] 
        frag_overlap_peak_index = set(frag_overlap_peak.index)
        index_res.update(frag_overlap_peak_index)
        df_fragments_copy = df_fragments_copy[~df_fragments_copy.index.isin(frag_overlap_peak_index)]
    return index_res

In [ ]:
with Pool(threads) as p:
    results = p.starmap(get_df, zip(df_peak_list, [df_fragments.copy()]*threads))

In [ ]:
sum_data = set(itertools.chain.from_iterable(results))
sum_data
final_df = df_fragments[df_fragments.index.isin(sum_data)]

In [ ]:
final_df

In [ ]:
final_df

In [ ]:
df_peaks

In [277]:
df_peaks_chr = df_peaks[df_peaks['chr']=='chr1']
df_fragments_chr = df_fragments[df_fragments['chr']=='chr1']

In [278]:
df_peaks_chr

       chr      start        end
0     chr1    4768517    4768778
1     chr1    4785335    4786194
2     chr1    4807373    4808300
3     chr1    4857419    4858586
4     chr1    5082842    5083595
...    ...        ...        ...
3546  chr1  195204846  195205011
3547  chr1  195211204  195211453
3548  chr1  195232585  195233063
3549  chr1  195241504  195242029
3550  chr1  195308846  195309482

[3551 rows x 3 columns]

In [285]:
ranges_peaks = list(zip(df_peaks_chr.start, df_peaks_chr.end))

In [286]:
ranges_peaks[0]

(4768517, 4768778)

In [287]:
ranges_fragments = list(zip(df_fragments_chr.start, df_fragments_chr.end))

In [288]:
ranges_fragments[0]

(3003786, 3003903)

In [ ]:
for range_fragments in ranges_fragments:
    if range_fragment in

In [9]:
        for _, data_peak in df_peaks.iterrows():
            print(data_peak["chr"])
            print(data_peak["start"])
            print(data_peak["end"])
            break
#             peak_info = dict(data_peak)
#             frag_chr = df_fragments[df_fragments["chr"] == peak_info["chr"]]
#             frag_overlap_peak = frag_chr[ (frag_chr["start"] >= peak_info["start"]) & (frag_chr["end"] <= peak_info["end"])]
#             index_res.update(set(frag_overlap_peak.index))

chr1
4768517
4768778

In [ ]:
threads = 8
#chunk_size
chunk_size = 100

In [71]:
peaks_count = df_peaks.shape[0]
chunk_size = peaks_count // 100
df_peak_list = [df_peaks.iloc[ chunk_size*i: chunk_size*(i+1), :] for i in range(8)]

In [87]:
len(df_peak_list[-2])

518

In [ ]:
df_peak_list

In [74]:
a = [set(i.chr) for i in df_peak_list]

In [75]:
a

[{'chr1'},
 {'chr1'},
 {'chr1'},
 {'chr1'},
 {'chr1'},
 {'chr1'},
 {'chr1', 'chr10'},
 {'chr10'}]

In [76]:
df_fragment_list = [df_fragments[df_fragments['chr'].isin(i)] for i in a]

In [77]:
sum([i.shape[0] for i in df_fragment_list])

11049246

In [79]:
df_fragment_list[-2]

            chr      start        end               barcode  count
165035     chr1    3003786    3003903  AACAATTGGCTTCTTTTGAC      1
1633690    chr1    3003975    3004005  ACCCTTCAGGATCATGACCC      1
10348822   chr1    3004652    3004699  GAAAAGTGTGCGTACCCGCC      1
2386893    chr1    3004791    3004834  ACTGGTTGCATCCTAGCCCA      2
15793733   chr1    3005277    3005613  TCAACTTAGTGAGCACGTCC      3
...         ...        ...        ...                   ...    ...
273361    chr10  130594548  130594614  AACGCGATGGAGAGTTCCCT      1
1377346   chr10  130594554  130594614  ACATGAATCAGACGCGTGCG      1
17393048  chr10  130594556  130594658  TGCGGGAGTACGTGTGCGGG      1
3737216   chr10  130594596  130594624  AGTCTGTGGATTGGAGGGTC      1
2563323   chr10  130594624  130594831  AGAAGCGGAATTGCGGATAA      1

[2353078 rows x 5 columns]

In [80]:
df_fragment_list = [df_fragments[df_fragments['chr'].isin(set(df_peak.chr))] for df_peak in df_peak_list]

In [86]:
df_fragment_list[-2]

            chr      start        end               barcode  count
165035     chr1    3003786    3003903  AACAATTGGCTTCTTTTGAC      1
1633690    chr1    3003975    3004005  ACCCTTCAGGATCATGACCC      1
10348822   chr1    3004652    3004699  GAAAAGTGTGCGTACCCGCC      1
2386893    chr1    3004791    3004834  ACTGGTTGCATCCTAGCCCA      2
15793733   chr1    3005277    3005613  TCAACTTAGTGAGCACGTCC      3
...         ...        ...        ...                   ...    ...
273361    chr10  130594548  130594614  AACGCGATGGAGAGTTCCCT      1
1377346   chr10  130594554  130594614  ACATGAATCAGACGCGTGCG      1
17393048  chr10  130594556  130594658  TGCGGGAGTACGTGTGCGGG      1
3737216   chr10  130594596  130594624  AGTCTGTGGATTGGAGGGTC      1
2563323   chr10  130594624  130594831  AGAAGCGGAATTGCGGATAA      1

[2353078 rows x 5 columns]

In [88]:
import time

In [45]:
start = time.time()
index_res = set()
for _, data_peak in df_peak_list[0].iterrows():
    frag_chr = df_fragments[df_fragments["chr"] == data_peak["chr"]]
    frag_overlap_peak = frag_chr[ (frag_chr["start"] >= data_peak["start"]) & (frag_chr["end"] <= data_peak["end"])]
    index_res.update(set(frag_overlap_peak.index))
end = time.time()
print("循环运行时间:%.2f秒"%(end-start))

循环运行时间:485.30秒

In [89]:
start = time.time()
index_res = set()
for _, data_peak in df_peak_list[-2].iterrows():
    frag_chr = df_fragment_list[-2][df_fragment_list[-2]["chr"] == data_peak["chr"]]
    frag_overlap_peak = frag_chr[ (frag_chr["start"] >= data_peak["start"]) & (frag_chr["end"] <= data_peak["end"])]
    index_res.update(set(frag_overlap_peak.index))
end = time.time()
print("循环运行时间:%.2f秒"%(end-start))

循环运行时间:204.46秒

In [93]:
start = time.time()
index_res1 = set()
for ch in set(df_peak_list[-2].chr):
    df_peak_chr = df_peak_list[-2][df_peak_list[-2]['chr'] == ch]
    df_fragment_chr = df_fragment_list[-2][df_fragment_list[-2]['chr']== ch]
    for _, data_peak in df_peak_chr.iterrows():
        frag_overlap_peak = df_fragment_chr[ (df_fragment_chr["start"] >= data_peak["start"]) & (df_fragment_chr["end"] <= data_peak["end"])]
        index_res1.update(set(frag_overlap_peak.index))
end = time.time()
print("循环运行时间:%.2f秒"%(end-start))

循环运行时间:4.81秒

In [95]:
index_res == index_res1

True