In [1]:
import pandas as pd
import plotly.express as px
import glob
import os
import plotly.graph_objects as go
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/SGRNJ06/randd/PROJECT/RD20073101_ScRNA_VDJ/bulk_TCR/20230810_Buffy_T3lib/Hum_0728Buffy_T3lib/05.count_vdj/Hum_0728Buffy_T3lib_clonetypes.csv")

In [3]:
df

,ClonotypeID,aaSeqCDR3,Frequency,Proportion,Index,Diversity
0,1,TRB:CASSLQGTSIDTQYF,281,2.14%,CAAGTT,315.76
1,2,TRB:CASSQNSNEQFF,264,2.02%,CAAGTT,315.76
2,3,TRB:CASSEGGPGLATYEQYF,178,1.36%,CAAGTT,315.76
3,4,TRB:CASSPTSNELVQFF,158,1.21%,CAAGTT,315.76
4,5,TRB:CASSLAGGEGNTIYF,144,1.1%,CAAGTT,315.76
...,...,...,...,...,...,...
10248,1425,TRB:CASSIESGGTYEQYF,1,0.01%,GAACCA,318.99
10249,1426,TRB:CASSIIGGGAGADTQYF,1,0.01%,GAACCA,318.99
10250,1427,TRB:CASSISKWQGAYEQYF,1,0.01%,GAACCA,318.99
10251,1428,TRB:CASSKLGRELFF,1,0.01%,GAACCA,318.99
10252,1429,TRB:CASSLDSTYEQYF,1,0.01%,GAACCA,318.99

In [7]:
total = df.groupby("Index").agg({"Frequency":"sum"})
count = df.groupby("Index").agg({"Frequency":"count"})
diversity = df.groupby("Index").agg({"Diversity":"mean"})

In [35]:
diversity

        Diversity
Index
AGGTTA     287.07
CAAGTT     315.76
CATTGG     293.64
GAACCA     318.99
TACACA     297.92
TCATGC     263.55
TCGAAT     248.30
TCTTGG     270.93

In [46]:
z = list(diversity.Diversity)

In [48]:
z = [round(i, 2) for i in z]

In [49]:
z

[287.07, 315.76, 293.64, 318.99, 297.92, 263.55, 248.3, 270.93]

In [50]:
z = [z[:4],
     z[4:8]]

In [51]:
fig = px.imshow(z, text_auto=True, aspect="equal", title="8 Index", labels=dict(color="Diversity"),
              )
fig.update_xaxes(showticklabels=False)
fig.update_yaxes(showticklabels=False)
#fig.show()
fig.write_image("/SGRNJ06/randd/PROJECT/RD20073101_ScRNA_VDJ/bulk_TCR/20230810_Buffy_T3lib/plot/Diversity.pdf", scale=8)