In [ ]:
import pandas as pd 
import os 
import glob

In [132]:
file = "/SGRNJ06/randd/PROJECT/RD21010602_GEXSCOPE_V3/20230921"

In [133]:
files1 = glob.glob(f"{file}/*/05.count/*matrix.tsv.gz")

In [134]:
file = "/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/"

In [135]:
files2 = glob.glob(f"{file}/*/05.count/*matrix.tsv.gz")

In [136]:
files = files1 + files2

In [137]:
files

['/SGRNJ06/randd/PROJECT/RD21010602_GEXSCOPE_V3/20230921/CCRF_lysis_1/05.count/CCRF_lysis_1_matrix.tsv.gz',
 '/SGRNJ06/randd/PROJECT/RD21010602_GEXSCOPE_V3/20230921/CCRF_YNaCl_PK_8/05.count/CCRF_YNaCl_PK_8_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/CCRF_NaCl_PK_5/05.count/CCRF_NaCl_PK_5_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/1_Nacl/05.count/1_Nacl_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/CCRF_YNaCl_6/05.count/CCRF_YNaCl_6_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/4_W/05.count/4_W_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/5_YS/05.count/5_YS_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/CCRF_NaCl_3/05.count/CCRF_NaCl_3_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/6_W_pk/05.count/6_W_pk_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/3_Nacl_pk/05.count/3_Nacl_pk_matrix.tsv.gz']

In [ ]:
del files[0]

In [ ]:
df1 = pd.read_csv("/SGRNJ06/randd/PROJECT/RD21010602_GEXSCOPE_V3/20230921/CCRF_lysis_1/05.count/CCRF_lysis_1_matrix.tsv.gz", sep='\t', index_col=0)
sample = "CCRF_lysis_1"
df1 = df1.rename(columns={"TGGTGACC": sample})
for file in files:
    sample = file.split('/')[-3]
    df = pd.read_csv(file, sep='\t', index_col=0)
    df = df.rename(columns={"TGGTGACC": sample})
    df1 = pd.merge(df, df1, left_index=True, right_index=True,)

In [194]:
df1

            TGGTGACC
DPM1        0.002763
SCYL3       0.000323
C1orf112    0.001366
FGR         0.000024
FUCA2       0.000073
...              ...
AL357079.3  0.000018
AC023296.1  0.000000
AC114778.2  0.000018
AL357874.3  0.000030
AL645933.5  0.000043

[18770 rows x 1 columns]

In [ ]:
df_norm = (df1 - df1.min()) / (df1.max() - df1.min())

In [ ]:
df_norm

In [ ]:
df_norm.to_csv("/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/normalize_df.tsv", sep='\t')

In [157]:
files

['/SGRNJ06/randd/PROJECT/RD21010602_GEXSCOPE_V3/20230921/CCRF_lysis_1/05.count/CCRF_lysis_1_matrix.tsv.gz',
 '/SGRNJ06/randd/PROJECT/RD21010602_GEXSCOPE_V3/20230921/CCRF_YNaCl_PK_8/05.count/CCRF_YNaCl_PK_8_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/CCRF_NaCl_PK_5/05.count/CCRF_NaCl_PK_5_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/1_Nacl/05.count/1_Nacl_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/CCRF_YNaCl_6/05.count/CCRF_YNaCl_6_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/4_W/05.count/4_W_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/5_YS/05.count/5_YS_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/CCRF_NaCl_3/05.count/CCRF_NaCl_3_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/6_W_pk/05.count/6_W_pk_matrix.tsv.gz',
 '/SGRNJ06/randd/USER/cjj/celedev/rna/20230921tgx/3_Nacl_pk/05.count/3_Nacl_pk_matrix.tsv.gz']

In [188]:
df = pd.read_csv(files[9], sep='\t', index_col=0)

In [195]:
df

            TGGTGACC
DPM1             454
SCYL3             54
C1orf112         225
FGR                5
FUCA2             13
...              ...
AL357079.3         4
AC023296.1         1
AC114778.2         4
AL357874.3         6
AL645933.5         8

[18770 rows x 1 columns]

In [190]:
df1 = (df - df.min()) / (df.max() - df.min())

In [191]:
df1

            TGGTGACC
DPM1        0.002763
SCYL3       0.000323
C1orf112    0.001366
FGR         0.000024
FUCA2       0.000073
...              ...
AL357079.3  0.000018
AC023296.1  0.000000
AC114778.2  0.000018
AL357874.3  0.000030
AL645933.5  0.000043

[18770 rows x 1 columns]

In [198]:
df1[df1["TGGTGACC"]<0.1]

            TGGTGACC
DPM1        0.002763
SCYL3       0.000323
C1orf112    0.001366
FGR         0.000024
FUCA2       0.000073
...              ...
AL357079.3  0.000018
AC023296.1  0.000000
AC114778.2  0.000018
AL357874.3  0.000030
AL645933.5  0.000043

[18757 rows x 1 columns]