In [ ]:
import pandas as pd 
import celescope
import time
import bisect
from celescope.tools.emptydrop_cr.cell_calling_3 import cell_calling_3
from celescope.tools.count import Count

In [ ]:
celescope.__path__

In [ ]:
# cr
df = pd.read_table('/SGRNJ06/randd/PROJECT/RD20073101_ScRNA_VDJ/20220425_kmc3/sc-1/05.count/220417014_count_detail.txt', header=0)

In [ ]:
start_time = time.time()
df_sum = Count.get_df_sum(df)
end_time = time.time()
print(f'cost {end_time - start_time}')

In [ ]:
    def auto_cell(df_sum):
        idx = int(3000 * 0.01)
        barcode_number = df_sum.shape[0]
        idx = int(min(barcode_number, idx))
        if idx == 0:
            sys.exit("cell number equals zero!")
        # calculate read counts threshold
        threshold = int(Count.find_threshold(df_sum, idx) * 0.1)
        threshold = max(1, threshold)
        cell_bc = Count.get_cell_bc(df_sum, threshold)

        return cell_bc, threshold

    def emptydrop_cr_cell(df_sum):
        cell_bc, initial_cell_num = cell_calling_3('/SGRNJ06/randd/PROJECT/RD20073101_ScRNA_VDJ/20220425_kmc3/sc-1/05.count/220417014_all_matrix', 3000)
        threshold = Count.find_threshold(df_sum, initial_cell_num)
        return cell_bc, threshold

In [ ]:
cell_bc, _threshold = emptydrop_cr_cell(df_sum)

In [ ]:
_threshold

In [ ]:
df_sum.loc[:, 'mark'] = 'UB'
df_sum.loc[df_sum.index.isin(cell_bc), 'mark'] = 'CB'
CB_describe = df_sum.loc[df_sum['mark'] == 'CB', :].describe()

In [ ]:
df_sum.loc[df_sum['mark'] == 'CB', :][:4000]
CB_describe = df_sum.loc[df_sum['mark'] == 'CB', :][:4000].describe()

In [ ]:
CB_describe

In [ ]:
df_sum[df_sum['mark']=='CB']

In [ ]:
df_auto = df_sum.copy()

In [ ]:
cell_bc_auto, _threshold_auto = auto_cell(df_auto)

In [ ]:
df_auto.loc[:, 'mark'] = 'UB'
df_auto.loc[df_sum.index.isin(cell_bc_auto), 'mark'] = 'CB'
CB_describe_auto = df_auto.loc[df_auto['mark'] == 'CB', :].describe()

In [ ]:
CB_describe_auto

In [ ]:
len(set(cell_bc_auto).intersection(set(cell_bc)))

In [ ]:
_threshold_auto

In [ ]:
df_auto[df_auto['mark']=='CB']

In [ ]:
df_sum[df_sum['mark']=='CB']

In [ ]:
_threshold

In [ ]:
target_median_gene = int(CB_describe_auto.loc['50%', 'geneID']) * 0.8

In [ ]:
target_median_gene

In [ ]:
df_sum

In [ ]:
df_sum.loc[df_sum['mark'] == 'CB', :][:4712].describe().loc['50%', 'geneID']

In [ ]:
def search_target_gene_bc():
    target_median_gene = auto_CB_describe(df_sum)[-1] * 0.8
    low = len(cell_bc_auto)
    high = len(cell_bc)
    while low <= high:
        mid = (low + high) // 2
        current_median_gene = df_sum.loc[df_sum['mark'] == 'CB', :][:mid].describe().loc['50%', 'geneID']
        if current_median_gene == target_median_gene:
            return current_median_gene
        elif current_median_gene > target_median_gene:
            high = mid - 1
        else:
            low = mid + 1
    return current_median_gene

In [ ]:
df_sum.loc[df_sum['mark'] == 'CB', :][:4712].reset_index().Barcode

In [ ]:
df_sum.iloc[:4712].reset_index().Barcode.tolist()

In [130]:
df_sum

                          readcount    UMI2    UMI  geneID mark
Barcode
AACAACCAGTCGTAGACACCTTAC     210001  181881  76645    6778   CB
GTACGCAAGCCAAGACCGAACTTA     189400  176090  52942    2487   CB
ACTATGCAAACCGAGACCGACAAC     163141  146897  52730    3240   CB
CCTCTATCCAATGGAAGACAGTGC     167824  153922  50412    2548   CB
TGGAACAACCTCCTGAACGTATCA     162767  148077  50098    2794   CB
...                             ...     ...    ...     ...  ...
TAGGATGAACTATGCAAACCGAGA          1       0      1       1   UB
AGTCACTAGAATCTGACGACACAC          1       0      1       1   UB
ACATTGGCCTCAATGATTCACGCA          1       0      1       1   UB
CTCAATGAAACTCACCAATGTTGC          1       0      1       1   UB
CACCTTACCATACCAAGAGTTAGC          2       2      1       1   UB

[849285 rows x 5 columns]

In [132]:
df_sum

                          readcount    UMI2    UMI  geneID mark
Barcode
AACAACCAGTCGTAGACACCTTAC     210001  181881  76645    6778   CB
GTACGCAAGCCAAGACCGAACTTA     189400  176090  52942    2487   CB
ACTATGCAAACCGAGACCGACAAC     163141  146897  52730    3240   CB
CCTCTATCCAATGGAAGACAGTGC     167824  153922  50412    2548   CB
TGGAACAACCTCCTGAACGTATCA     162767  148077  50098    2794   CB
...                             ...     ...    ...     ...  ...
TAGGATGAACTATGCAAACCGAGA          1       0      1       1   UB
AGTCACTAGAATCTGACGACACAC          1       0      1       1   UB
ACATTGGCCTCAATGATTCACGCA          1       0      1       1   UB
CTCAATGAAACTCACCAATGTTGC          1       0      1       1   UB
CACCTTACCATACCAAGAGTTAGC          2       2      1       1   UB

[849285 rows x 5 columns]

In [ ]:
idx=6000
int(df_sum.iloc[idx - 1, df_sum.columns == 'UMI'])

In [ ]:
        df_sum.loc[:, 'mark'] = 'UB'
        df_sum.loc[df_sum.index.isin(cell_bc), 'mark'] = 'CB'
        df_sum.to_csv('/SGRNJ06/randd/USER/cjj/TESTDATA/git/celescope_test_script/rna/test1/05.count/test.txt', sep='\t')