In [ ]:
import pandas as pd
import pysam
from collections import OrderedDict

In [ ]:
df = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/05.match/matched_contig_annotations.csv")

In [ ]:
df = df[df['productive'] == True]

In [ ]:
df['chain_cdr3aa'] = df[['chain', 'cdr3']].apply(':'.join, axis=1)
df['chain_cdr3nt'] = df[['chain', 'cdr3_nt']].apply(':'.join, axis=1)
df = df.rename(columns={"chain_cdr3aa":"cdr3s_aa", "chain_cdr3nt":"cdr3s_nt", "raw_clonotype_id":"clonotype_id"})
df = df.dropna(subset=["clonotype_id"])
df = df.sort_values("clonotype_id", key=lambda x: x.str.lstrip("clonotype").astype(int))

In [ ]:
df = df[["barcode",  "clonotype_id"]]

In [ ]:
df

In [ ]:
df["frequency"] = df.groupby("clonotype_id")["barcode"].transform((lambda x: len(set(x))))

In [ ]:
df = pd.DataFrame(df.groupby("clonotype_id")["barcode"].nunique())

In [ ]:
df = df.rename(columns={"barcode": "frequency"})

In [ ]:
df

In [ ]:
df = df.sort_values("clonotype_id", key=lambda x: x.str.lstrip("clonotype").astype(int))

In [ ]:
df = df.reset_index()

In [ ]:
raw_clonotypes= pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/04.summarize/clonotypes.csv", sep=',', index_col=None)

In [ ]:
raw_clonotypes

In [ ]:
df

In [ ]:
sum_frequency = df['frequency'].sum()
df['proportion'] = df['frequency'].apply(lambda x: x/sum_frequency)

In [ ]:
df = pd.merge(df, raw_clonotypes[["clonotype_id", "cdr3s_aa", "cdr3s_nt"]], on="clonotype_id")

In [ ]:
df

In [ ]:
df = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/05.match/matched_contig_annotations.csv")

In [ ]:
df = df[df['productive'] == True]

In [ ]:
df = df.rename(columns={"raw_clonotype_id":"clonotype_id"})
df = df.dropna(subset=["clonotype_id"])

In [ ]:
df

In [ ]:
df["frequency"] = df.groupby("clonotype_id")["barcode"].transform((lambda x: len(set(x))))

In [ ]:
df

In [ ]:
df = pd.DataFrame(df.groupby("clonotype_id")["barcode"].nunique())

In [ ]:
df

In [ ]:
df = df.reset_index().rename(columns={"barcode": "frequency"})

In [ ]:
df

In [ ]:
df = df.sort_values("clonotype_id", key=lambda x: x.str.lstrip("clonotype").astype(int))

In [ ]:
df

In [ ]:
sum_frequency = df['frequency'].sum()
df['proportion'] = df['frequency'].apply(lambda x: x/sum_frequency)

In [ ]:
df

In [ ]:
df = pd.merge(df, raw_clonotypes[["clonotype_id", "cdr3s_aa", "cdr3s_nt"]], on="clonotype_id")

In [ ]:
df

In [ ]:
df.to_csv(out_clonotypes, sep=',', index=False)

In [ ]:
df_match = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/05.match/matched_contig_annotations.csv")
df_match = df_match[df_match['productive'] == True]
df_match = df_match.rename(columns={"raw_clonotype_id":"clonotype_id"})
df_match = df_match.dropna(subset=["clonotype_id"])

In [ ]:
df_match.groupby("clonotype_id")["barcode"].nunique().to_frame()

In [ ]:
df_match.groupby("clonotype_id")["barcode"].nunique().to_df

In [ ]:
df_match = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/05.match/matched_contig_annotations.csv")
df_match = df_match[df_match['productive'] == True]
df_match = df_match.rename(columns={"raw_clonotype_id":"clonotype_id"})
df_match = df_match.dropna(subset=["clonotype_id"])
df_match = df_match.groupby("clonotype_id")["barcode"].nunique().to_frame()
df_match = df_match.reset_index().rename(columns={"barcode": "frequency"})
df_match = df_match.sort_values("clonotype_id", key=lambda x: x.str.lstrip("clonotype").astype(int))
# sum_frequency = df_match['frequency'].sum()
# df_match['proportion'] = df_match['frequency'].apply(lambda x: x/sum_frequency)
df_match['proportion'] = df_match['frequency'] / df_match['frequency'].sum()

In [ ]:
df_match

In [ ]:
raw_clonotypes= pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/04.summarize/clonotypes.csv", sep=',', index_col=None)
raw_clonotypes

In [ ]:
df_match = pd.merge(df_match, raw_clonotypes[["clonotype_id", "cdr3s_aa", "cdr3s_nt"]], on="clonotype_id")

In [ ]:
df_match

In [ ]:
df_match.to_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/tmp/clonotypes.csv", sep=',', index=False)

In [354]:
df_match = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/05.match/matched_contig_annotations.csv")
df_match = df_match[df_match['productive'] == True]
raw_clonotypes= pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/vdj10x/20230428shanghai/HJG-C-T-T/04.summarize/clonotypes.csv", sep=',', index_col=None)

In [ ]:

        
        df_match = df_match[df_match['productive'] == True]
        df_match = df_match.rename(columns={"raw_clonotype_id":"clonotype_id"})\
            .dropna(subset=["clonotype_id"]).groupby("clonotype_id")["barcode"].nunique().to_frame()\
                .reset_index().rename(columns={"barcode": "frequency"})\
                    .sort_values("clonotype_id", key=lambda x: x.str.lstrip("clonotype").astype(int))
        df_match['proportion'] = df_match['frequency'] / df_match['frequency'].sum()
        
        df_match = pd.merge(df_match, raw_clonotypes[["clonotype_id", "cdr3s_aa", "cdr3s_nt"]], on="clonotype_id")

In [ ]:
df_match

In [355]:
raw_clonotypes.drop(["frequency", "proportion"], axis=1, inplace=True)
raw_clonotypes

,clonotype_id,cdr3s_aa,cdr3s_nt,inkt_evidence,mait_evidence
0,clonotype1,TRB:CASNPGARENEQFF;TRA:CAVRTSGTYKYIF,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC...,NaN,NaN
1,clonotype2,TRB:CASNPGARENEQFF,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC,NaN,NaN
2,clonotype3,TRA:CAVRTSGTYKYIF,TRA:TGTGCTGTGAGGACCTCAGGAACCTACAAATACATCTTT,NaN,NaN
3,clonotype4,TRB:CASSSSPKGGSSYNEQFF;TRA:CAVRTSGTYKYIF,TRB:TGCGCCAGCAGCTCCTCGCCGAAAGGGGGAAGCTCCTACAAT...,NaN,NaN
4,clonotype5,TRB:CASSPPGQDYEQYF;TRA:CAVRDQGNVLHC,TRB:TGTGCCAGCAGCCCACCGGGACAAGACTACGAGCAGTACTTC...,NaN,NaN
...,...,...,...,...,...
850,clonotype851,TRA:CAAYKAAGNKLTF,TRA:TGTGCAGCATATAAAGCTGCAGGCAACAAGCTAACTTTT,NaN,NaN
851,clonotype852,TRA:CAAMGSGAGSYQLTF,TRA:TGTGCAGCAATGGGCTCTGGGGCTGGGAGTTACCAACTCACTTTC,NaN,NaN
852,clonotype853,TRA:CAAMGSGAGSYQLTF,TRA:TGTGCAGCAATGGGCTCTGGGGCTGGGAGTTACCAACTCACTTTC,NaN,NaN
853,clonotype854,TRB:CASSLGDPPRNTIYF,TRB:TGTGCCAGCAGCTTAGGGGACCCCCCAAGAAACACCATATATTTT,NaN,NaN
854,clonotype855,TRB:CASSLGDPPRNTIYF;TRA:CIVYNDMRF,TRB:TGTGCCAGCAGCTTAGGGGACCCCCCAAGAAACACCATATAT...,NaN,NaN

In [356]:
        df_match = df_match[df_match['productive'] == True]
        df_match = df_match.rename(columns={"raw_clonotype_id":"clonotype_id"})\
            .dropna(subset=["clonotype_id"]).groupby("clonotype_id")["barcode"].nunique().to_frame()\
                .reset_index().rename(columns={"barcode": "frequency"})
        df_match['proportion'] = df_match['frequency'] / df_match['frequency'].sum()

In [357]:
df_match

     clonotype_id  frequency  proportion
0      clonotype1       1914    0.342091
1     clonotype10         59    0.010545
2    clonotype100         10    0.001787
3    clonotype101          9    0.001609
4    clonotype102         11    0.001966
..            ...        ...         ...
296   clonotype95          3    0.000536
297   clonotype96         13    0.002324
298   clonotype97         10    0.001787
299   clonotype98          1    0.000179
300   clonotype99         11    0.001966

[301 rows x 3 columns]

In [358]:
pd.merge(df_match, raw_clonotypes, on="clonotype_id")

,clonotype_id,frequency,proportion,cdr3s_aa,cdr3s_nt,inkt_evidence,mait_evidence
0,clonotype1,1914,0.342091,TRB:CASNPGARENEQFF;TRA:CAVRTSGTYKYIF,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC...,NaN,NaN
1,clonotype10,59,0.010545,TRB:CSAKGLASYEQYF;TRA:CAGQTLLTDKLIF,TRB:TGCAGTGCTAAAGGACTAGCCTCCTACGAGCAGTACTTC;TR...,NaN,TRB:gene
2,clonotype100,10,0.001787,TRB:CSVEGTGDPEAFF;TRA:CAVRTSGTYKYIF,TRB:TGCAGCGTTGAGGGGACAGGGGACCCTGAAGCTTTCTTT;TR...,NaN,NaN
3,clonotype101,9,0.001609,TRB:CASSAQGFKSDTEAFF;TRA:CAMREGPTGGFKTIF,TRB:TGTGCCAGCAGCGCCCAGGGATTTAAGTCGGACACTGAAGCT...,NaN,NaN
4,clonotype102,11,0.001966,TRB:CASSVQDEQFF;TRA:CAVNPQGFGTGGFKTIF;TRA:CAVR...,TRB:TGTGCCAGCAGCGTACAAGATGAGCAGTTCTTC;TRA:TGTG...,NaN,NaN
...,...,...,...,...,...,...,...
296,clonotype95,3,0.000536,TRB:CASSGLGGGELFF;TRA:CAENRGSYIPTF;TRA:CAVRTSG...,TRB:TGTGCCAGCAGCGGACTAGGGGGTGGGGAGCTGTTTTTT;TR...,NaN,NaN
297,clonotype96,13,0.002324,TRB:CASSSAGGASPGPLHF;TRA:CAVVLTNSGYALNF,TRB:TGTGCCAGCAGCTCCGCTGGGGGGGCCAGCCCGGGACCCCTC...,NaN,NaN
298,clonotype97,10,0.001787,TRB:CASSPQGASNQPQHF;TRA:CAVRSDQTGANNLFF;TRA:CA...,TRB:TGTGCCAGCAGTCCCCAGGGGGCGAGCAATCAGCCCCAGCAT...,NaN,NaN
299,clonotype98,1,0.000179,TRB:CASNPGARENEQFF,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC,NaN,NaN
300,clonotype99,11,0.001966,TRB:CASNPGARENEQFF;TRB:CASSPLRGGYNSPLHF;TRA:CA...,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC...,NaN,NaN

In [348]:
raw_clonotypes

,clonotype_id,cdr3s_aa,cdr3s_nt,inkt_evidence,mait_evidence
0,clonotype1,TRB:CASNPGARENEQFF;TRA:CAVRTSGTYKYIF,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC...,NaN,NaN
1,clonotype2,TRB:CASNPGARENEQFF,TRB:TGTGCCAGCAACCCTGGGGCAAGGGAAAATGAGCAGTTCTTC,NaN,NaN
2,clonotype3,TRA:CAVRTSGTYKYIF,TRA:TGTGCTGTGAGGACCTCAGGAACCTACAAATACATCTTT,NaN,NaN
3,clonotype4,TRB:CASSSSPKGGSSYNEQFF;TRA:CAVRTSGTYKYIF,TRB:TGCGCCAGCAGCTCCTCGCCGAAAGGGGGAAGCTCCTACAAT...,NaN,NaN
4,clonotype5,TRB:CASSPPGQDYEQYF;TRA:CAVRDQGNVLHC,TRB:TGTGCCAGCAGCCCACCGGGACAAGACTACGAGCAGTACTTC...,NaN,NaN
...,...,...,...,...,...
850,clonotype851,TRA:CAAYKAAGNKLTF,TRA:TGTGCAGCATATAAAGCTGCAGGCAACAAGCTAACTTTT,NaN,NaN
851,clonotype852,TRA:CAAMGSGAGSYQLTF,TRA:TGTGCAGCAATGGGCTCTGGGGCTGGGAGTTACCAACTCACTTTC,NaN,NaN
852,clonotype853,TRA:CAAMGSGAGSYQLTF,TRA:TGTGCAGCAATGGGCTCTGGGGCTGGGAGTTACCAACTCACTTTC,NaN,NaN
853,clonotype854,TRB:CASSLGDPPRNTIYF,TRB:TGTGCCAGCAGCTTAGGGGACCCCCCAAGAAACACCATATATTTT,NaN,NaN
854,clonotype855,TRB:CASSLGDPPRNTIYF;TRA:CIVYNDMRF,TRB:TGTGCCAGCAGCTTAGGGGACCCCCCAAGAAACACCATATAT...,NaN,NaN