In [16]:
import pandas as pd
import json

In [55]:
ten = pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/wanheyuan/20220901cr6_v3/DC0004CA/03.cellranger/DC0004CA/outs/filtered_feature_bc_matrix/barcodes.tsv.gz',header=None)

In [56]:
ten.rename(columns={0:'barcode'},inplace=True)

In [57]:
ten_list = list(ten.barcode)

In [58]:
ten_list = [i.split('-')[0] for i in ten_list]

In [59]:
ten_dict = pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/wanheyuan/20220901cr7_v3/DC0004CA/02.convert/barcode_correspond.txt',sep='\t')

In [60]:
ten_dict = dict(zip(list(ten_dict['10X']), list(ten_dict['sgr'])))

In [61]:
ten_list[0]

'AAACCCAAGAAACACT'

In [ ]:
ten_dict

In [63]:
sgr_list = [ten_dict[i] for i in ten_list]

In [ ]:
sgr_list

In [65]:
cele_sgr = pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/wanheyuan/c3rna/chang/DC0004CA/05.count/filtered_feature_bc_matrix/barcodes.tsv',sep='\t',header=None)

In [66]:
cele_sgr.rename(columns={0:'barcode'},inplace=True)

In [67]:
cele_sgr_list = cele_sgr.barcode.tolist()

In [68]:
len(cele_sgr_list)

18710

In [69]:
len(sgr_list)

15301

In [91]:
intersec = set(cele_sgr_list).intersection(set(sgr_list))

In [ ]:
intersec

In [73]:
sgr = pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/wanheyuan/abnormal/DC0004CA_CS_meta.tsv',sep='\t')
cr = pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/wanheyuan/abnormal/DC0004CA_CR_meta.tsv',sep='\t')

In [79]:
sgr = sgr.rename_axis('barcode').reset_index()
cr = cr.rename_axis('barcode').reset_index()

In [84]:
cr['barcode'] = cr['barcode'].apply(lambda x: ten_dict[x.split('-')[0]])

In [85]:
sgr

,barcode,orig.ident,nCount_RNA,nFeature_RNA,percent.mt
0,AAACATCGAAACATCGGATGAATC,test,13345,3815,27.246160
1,AAACATCGAAACATCGGTCGTAGA,test,11443,2690,22.065892
2,AAACATCGAAACATCGTGGCTTCA,test,673,397,23.625557
3,AAACATCGAACAACCATTCACGCA,test,1615,812,10.773994
4,AAACATCGAACGCTTAACCTCCAA,test,5651,1261,61.599717
...,...,...,...,...,...
18705,TTCACGCATGGTGGTAATTGAGGA,test,5488,1621,44.806851
18706,TTCACGCATGGTGGTAGATAGACA,test,9273,2754,26.658039
18707,TTCACGCATTCACGCACGACTGGA,test,1580,828,10.443038
18708,TTCACGCATTCACGCACGCTGATC,test,4850,1463,46.185567
18709,TTCACGCATTCACGCATCCGTCTA,test,4097,1396,42.152795

In [86]:
cr

,barcode,orig.ident,nCount_RNA,nFeature_RNA,percent.mt
0,GAGTTAGCGACTAGTATGGTGGTA,test,15560,3670,27.487147
1,GGAGAACAAAGACGGACCGAAGTA,test,11226,3418,19.730982
2,ACGCTCGAAAGGACACACACAGAA,test,8342,2830,17.381923
3,ACAGCAGACCTCTATCGGTGCGAA,test,951,569,11.146162
4,CTCAATGACGACACACGACTAGTA,test,6593,2270,24.419839
...,...,...,...,...,...
15296,CGACACACAACAACCACCTCCTGA,test,570,430,1.929825
15297,CTCAATGACTGGCATAGCTCGGTA,test,761,551,2.496715
15298,ACGTATCACCTAATCCTTCACGCA,test,522,402,0.957854
15299,CAGATCTGAAGGTACAGTCTGTCA,test,569,445,1.054482
15300,AAGACGGACGCATACACGCATACA,test,569,453,1.757469

In [96]:
cr = cr[cr['barcode'].isin(intersec)]
sgr = sgr[sgr['barcode'].isin(intersec)]

In [98]:
cr.groupby('percent.mt')

         nCount_RNA  nFeature_RNA    percent.mt
count  15113.000000  15113.000000  15113.000000
mean    5048.239463   1538.124264     31.232089
std     4256.469011   1062.422807     19.376457
min      499.000000    153.000000      0.301659
25%     1678.000000    669.000000     15.842294
50%     3609.000000   1100.000000     24.868282
75%     7583.000000   2399.000000     46.249601
max    28929.000000   5471.000000     94.063814

In [97]:
sgr

,barcode,orig.ident,nCount_RNA,nFeature_RNA,percent.mt
0,AAACATCGAAACATCGGATGAATC,test,13345,3815,27.246160
1,AAACATCGAAACATCGGTCGTAGA,test,11443,2690,22.065892
3,AAACATCGAACAACCATTCACGCA,test,1615,812,10.773994
4,AAACATCGAACGCTTAACCTCCAA,test,5651,1261,61.599717
5,AAACATCGAACGCTTACAGCGTTA,test,8256,1562,64.983043
...,...,...,...,...,...
18705,TTCACGCATGGTGGTAATTGAGGA,test,5488,1621,44.806851
18706,TTCACGCATGGTGGTAGATAGACA,test,9273,2754,26.658039
18707,TTCACGCATTCACGCACGACTGGA,test,1580,828,10.443038
18708,TTCACGCATTCACGCACGCTGATC,test,4850,1463,46.185567
18709,TTCACGCATTCACGCATCCGTCTA,test,4097,1396,42.152795